
<div class="banner">
  <div class="banner-content text-center">
        <h1 style="color:white">Cans</h1>
        <%= link_to "Enter", cans_path, class: "btn-enter" %>
    </div>
    <p></p>
  </div>
</div>
